
body{
    margin: 0;
    padding: 0;
}
.block{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
    width: 100vw; 
}
.inner_block{
    width: 90%;
    height: 80vh;
    text-align: center;
    background-color: white;
}
.heading{
    margin: 0%;
    color: rgb(187, 185, 185);
    background-color: rgb(83, 82, 82);
    
}
.outside_table{
    display: flex;
    text-align: center;
    justify-content: center;

}
.firstrow{
    color: aliceblue ;
    background-color: black ;
    
}
.table{
    overflow: hidden;
    
    
    height: 5%;
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}
.table th,.table td {
    padding: 0.8%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.button_transfer_money{
    
    float: right;
    margin-top: 2.5vh;
    margin-right: 5%;
    
}
.button_transfer_money button{
    height: 5vh;
    width: 100%;
    cursor: pointer ;
    background-color: rgb(194, 251, 215);
    color: rgb(0, 128, 0);
    border-radius: 20px;
}
.back{
    
    float: left;
    margin-top: 2.5vh;
    margin-left: 5%;
}
.back button{
    cursor: pointer;
    height: 5vh;
    width: 100%;
    cursor: pointer ;
    background-color: rgb(194, 251, 215);
    color: rgb(0, 128, 0);
    border-radius: 20px;
}
button:hover {
    color: aliceblue;
    background-color: rgb(2, 97, 2); 
}
button:active {
    color: aliceblue;
    background-color: rgb(2, 97, 2); 
}